html {
  font-family: "Helevetica", sans-serif;
}

body {
  color: #333;
  font-weight: 100;
  width: 100em;
  max-width: 960px;
  margin: 0 auto;
}

hr {
  border-width: 0.5px;
}

hr.dark {
  border-color: #333333;
}

.outline-none {
  outline: none;
}

#heading {
  font-size: 48px;
  padding-top: 25px;
}

#content {
  padding-top: 10px;
  font-size: 20px;

}

.button {
  background-color: #ffffff;
  border: none;
  padding: 8px 20px 6px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  color: #272727;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
}


.search-field {
  background-color: #ffffff;
  border: none;
  padding: 10px 20px 8px 20px;
  border-radius: 5px;
  display: inline-block;
  color: #272727;
  transition: 0.3s;
    text-decoration: none;

}

.search-field:hover {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
}

.search-field input{
     border: none;
     padding-left: 12px;
     display: inline-block;
     font-size: 15px;



 }
.search-field svg {
    padding-top: 5px;
}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #f9f9f9; /* white*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 70px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}



/* The navigation menu links */



.sidenav .note-item {
  background: #FFFFFF;
  border-radius: 7px;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  transition: 0.3s;
}

.sidenav .note-item:hover {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);

}

.sidenav a {
  text-decoration: none;
  font-size: 18px;
  color: #111111;

}



/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #3d3d3d;
}

/* Position and style the close button (top right corner) */
.sidenav .newbtn {
  position: absolute;
  top: 20px;
  left: 20px;

}

.sidenav .search-field {
  position: absolute;
  top: 20px;
  right: 20px;
    left: 90px

}



.right-align .note-item-delete {
  position: absolute;
  top: 8px;
  right: 8px;
  font-weight: normal;
  font-size: 12px;
  margin: 4px;
  transition: 0.3s;

}
.right-align .note-item-delete:hover {
  color: red;
}

.note-item .note-item-lead {
  color: #8a8a8a;
  font-size: 14px;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
}

.icon-bar {
  background-color: #ffffff;
  border: none;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
  justify-content: stretch;
}

.icon-bar button {
  border: none;
  margin: 0px 4px 0px 4px;

}


.controlbar  {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.settings-modal {
    /* display: none; */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Black w/ opacity */
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#editor {
  transition: margin-left .5s;
  padding: 20px;
}

/* Position utils */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
